.bank-container {
    margin: 2rem 0;
}


.bank-inf {
    border: 1.5px solid #acaeed;
    border-radius: 1rem;
    width: 40%;
    margin: 0  auto 2rem auto;
    padding: .5rem;
    text-align: left;
    text-indent: 1rem;
    display: inline-block;

    & h1 {
        color:#6a6fe0;
       
    }


    & li {
        list-style: none;
        margin: .2rem 0;
        font-size: 1.2rem;
    }
}
.bank-container .second-table {
    text-align: left;
    position: relative;

    & h1 {
        position: relative;
        display: block;
        margin-top: 2rem;
        font-size: 3rem;
        left: 3rem;
        color: white;

        & > p {
            margin-left: -3rem;
            margin-top: .5rem;
        }

        & > p:last-child {
            top: 25%;
            margin-left: .5rem;
            margin-top: -27px;
        }
    }


    & h2 {
        font-size: 2rem;
        color: #6a6fe0;
    }

    & label{
        background-color: white;
        width: 95%;
    }
    & label[for='file'] span img {
        width: 12%;
        
    }

    

    
}




.bank-file--pdf {
    position: absolute;
    right: 5px;
    top: -5px;
   
    
}


.bank-container .second-table input {
    background-color: white; 
    margin-top: 1rem;
}


.bank-container .second-table button {
    width: 100%;
    margin-top: .5rem;
}


.bank > button {
    margin-top: 2rem;
    width: 50%;
    background-color: #e06abf;
}





//total item to buy stylesheet
.bank__total-item-inf .bank-inf {
    width: 49%;
    height: 300px;
    
}

.bank__total-item--buy {
    
    background: url("../../img/image\ 36.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    float: left;

    & h1 {
        display: block;
        margin-top: 27%;
        margin-left: 1rem;
        width:90%;
        text-align: center;
    }
}









@media screen 
and (min-width:50px)
and (max-width:$media_port_view) {

  


    .bank__total-item-inf {
       

        .bank__total-item--buy {
            width: 100%;
            
            float: none;
        }
        

        .bank-inf {
            width: 100%;
            float: none;
    
        }


    }
    

    .bank-inf {
        width: 100%;
        min-width: 200px;

    }
 

    .bank-container .second-table {
        text-align: center;
    
        & h1 {
            position: relative;
            display: block;
            margin-top: 2rem;
            font-size: 2rem;
            margin-left: -3rem;
            color: white;
            
    
            & > p {
                position: absolute;
                top: -3.5rem;
                

            }
            & > p:first-child {
                top: 8px;
                left: 15px;
                font-size: 1rem;
            }
    
            & > p:last-child {
                position: absolute;
                right: -38px;
                top: -.1rem;

    
                
            }
        }
    
    
        & h2 {
            font-size: 2rem;
            width: 80%;
            margin: 0 auto;
            color: #6a6fe0;
        }
    
        & label[for='file']{
            width: 80%;
         
            max-width: 350px;
            padding: .5rem;
           
            
        & .bank-file--pdf {
            top: .1rem;

        }    
           
        }
        & label[for='file'] span img {
            width: 15%;
            
        }

        & > button {
            width: 70%;
            max-width: 350px;
        }
    }

    
    .bank > button {
        margin-top: 1rem;
        width: 100%;
        max-width: 450px;
        
    }

}




@media screen 
and (min-width:$media_port_view)
and (max-width:$media_port_view_medium) {

    .bank-inf {
        width: 100%;
        min-width: 200px;
        max-width: 400px;

    }
    .bank-container .second-table button {
        width: 100%;
       
    }
    

    .bank-container .buy__book {
        width: 400px;
        margin-right: 1rem;
    }


.bank-container .second-table h1 > p:last-child {
    width:10%;
}
    


    
}


    
    